  .background-image
{
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;

    display: block;

    height: 800px;

    background-image: url('skyline.jpg');
    background-size: cover;

            filter: blur(3px);
    -webkit-filter: blur(3px);
}
.book
{
    font-family: Sans-serif;
    font-size: 18px;

    position: relative;

    top: -20px;
    width: 125px;
    height: 40px;

    transition: all .3s ease 0s;
    text-align: center;

    color: #fff;
    border: 0;
    background: #428bca;
}
.book:hover
{
    background: #3cb0fd;
}
#all-tours
{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    position: fixed;
    z-index: 2;
    top: 5px;
    right: 0;
    left: 0;

    margin-right: 20px;
    margin-left: 20px;
    padding: 0 10px;

    color: white;
    border-radius: 5px;
    background: rgba(255, 255, 255, .10);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}
.tour
{
    display: inline-block;

    width: 250px;
    height: 375px;
    margin: 0 1em;
    padding-left: 10px;

    vertical-align: middle;
}
.highlight
{
    background: rgba(75, 230, 130, .3);
}
.photos
{
    display: none;

    top: 20px;
}
.per-night
{
    font-size: 1.5em;
    font-weight: bold;

    position: relative;
    top: -50px;
    left: 130px;

    display: block;

    -webkit-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);

    opacity: 0;
    color: #95bde1;
}
#filters
{
    width: 100px;
    height: 75px;

    text-align: center;

    background: rgba(75, 75, 75, .75);
}
#filters button
{
    font-family: Sans-serif;
    font-size: 12px;

    width: 80px;
    height: 25px;
    margin: 8px 0 0 0;

    text-align: center;

    color: #fff;
    border: 0;
    background: #428bca;
}
