/* Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {  } */

.accent {
  color: limegreen;
}

.bg {
  background: url("http://i.imgur.com/rQcpyN9.jpg") no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin-top: -20px;
  padding-top: 50px;
  height: 350px;
  text-align: center;  
  color: white;
  text-shadow: #444 0 1px 1px;
  background: transparent;
}

.jumbotron h1 {
  font-size: 100px;
}

.services {
  margin-bottom: 80px;
}

